In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sl
%matplotlib inline

In [2]:
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

In [3]:
game_log = pd.read_csv('game_log.csv')

/home/aklaum/anaconda3/envs/dq_gamelog/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
game_log.shape[0]

171907

In [5]:
game_log.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Data columns (total 161 columns):
date                            int64
number_of_game                  int64
day_of_week                     object
v_name                          object
v_league                        object
v_game_number                   int64
h_name                          object
h_league                        object
h_game_number                   int64
v_score                         int64
h_score                         int64
length_outs                     float64
day_night                       object
completion                      object
forefeit                        object
protest                         object
park_id                         object
attendance                      float64
length_minutes                  float64
v_line_score                    object
h_line_score                    object
v_at_bats                       float64
v_hits                          float64
v_doubles                       float64
v_triples                       float64
v_homeruns                      float64
v_rbi                           float64
v_sacrifice_hits                float64
v_sacrifice_flies               float64
v_hit_by_pitch                  float64
v_walks                         float64
v_intentional_walks             float64
v_strikeouts                    float64
v_stolen_bases                  float64
v_caught_stealing               float64
v_grounded_into_double          float64
v_first_catcher_interference    float64
v_left_on_base                  float64
v_pitchers_used                 float64
v_individual_earned_runs        float64
v_team_earned_runs              float64
v_wild_pitches                  float64
v_balks                         float64
v_putouts                       float64
v_assists                       float64
v_errors                        float64
v_passed_balls                  float64
v_double_plays                  float64
v_triple_plays                  float64
h_at_bats                       float64
h_hits                          float64
h_doubles                       float64
h_triples                       float64
h_homeruns                      float64
h_rbi                           float64
h_sacrifice_hits                float64
h_sacrifice_flies               float64
h_hit_by_pitch                  float64
h_walks                         float64
h_intentional_walks             float64
h_strikeouts                    float64
h_stolen_bases                  float64
h_caught_stealing               float64
h_grounded_into_double          float64
h_first_catcher_interference    float64
h_left_on_base                  float64
h_pitchers_used                 float64
h_individual_earned_runs        float64
h_team_earned_runs              float64
h_wild_pitches                  float64
h_balks                         float64
h_putouts                       float64
h_assists                       float64
h_errors                        float64
h_passed_balls                  float64
h_double_plays                  float64
h_triple_plays                  float64
hp_umpire_id                    object
hp_umpire_name                  object
1b_umpire_id                    object
1b_umpire_name                  object
2b_umpire_id                    object
2b_umpire_name                  object
3b_umpire_id                    object
3b_umpire_name                  object
lf_umpire_id                    object
lf_umpire_name                  object
rf_umpire_id                    object
rf_umpire_name                  object
v_manager_id                    object
v_manager_name                  object
h_manager_id                    object
h_manager_name                  object
winning_pitcher_id              object
winning_pitcher_name            object
losing_pitcher_id               object
losing_pitcher_name             object
saving_pitcher_id               object
saving_pitcher_name             object
winning_rbi_batter_id           object
winning_rbi_batter_id_name      object
v_starting_pitcher_id           object
v_starting_pitcher_name         object
h_starting_pitcher_id           object
h_starting_pitcher_name         object
v_player_1_id                   object
v_player_1_name                 object
v_player_1_def_pos              float64
v_player_2_id                   object
v_player_2_name                 object
v_player_2_def_pos              float64
v_player_3_id                   object
v_player_3_name                 object
v_player_3_def_pos              float64
v_player_4_id                   object
v_player_4_name                 object
v_player_4_def_pos              float64
v_player_5_id                   object
v_player_5_name                 object
v_player_5_def_pos              float64
v_player_6_id                   object
v_player_6_name                 object
v_player_6_def_pos              float64
v_player_7_id                   object
v_player_7_name                 object
v_player_7_def_pos              float64
v_player_8_id                   object
v_player_8_name                 object
v_player_8_def_pos              float64
v_player_9_id                   object
v_player_9_name                 object
v_player_9_def_pos              float64
h_player_1_id                   object
h_player_1_name                 object
h_player_1_def_pos              float64
h_player_2_id                   object
h_player_2_name                 object
h_player_2_def_pos              float64
h_player_3_id                   object
h_player_3_name                 object
h_player_3_def_pos              float64
h_player_4_id                   object
h_player_4_name                 object
h_player_4_def_pos              float64
h_player_5_id                   object
h_player_5_name                 object
h_player_5_def_pos              float64
h_player_6_id                   object
h_player_6_name                 object
h_player_6_def_pos              float64
h_player_7_id                   object
h_player_7_name                 object
h_player_7_def_pos              float64
h_player_8_id                   object
h_player_8_name                 object
h_player_8_def_pos              float64
h_player_9_id                   object
h_player_9_name                 object
h_player_9_def_pos              float64
additional_info                 object
acquisition_info                object
dtypes: float64(77), int64(6), object(78)
memory usage: 211.2+ MB

In [6]:
game_log.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [7]:
person = pd.read_csv('person_codes.csv')

In [8]:
person.shape[0]

20494

In [9]:
person.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20494 entries, 0 to 20493
Data columns (total 7 columns):
id              20494 non-null object
last            20494 non-null object
first           20433 non-null object
player_debut    19183 non-null object
mgr_debut       701 non-null object
coach_debut     1566 non-null object
ump_debut       1546 non-null object
dtypes: object(7)
memory usage: 1.1+ MB

In [10]:
person.head()

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN

In [11]:
team = pd.read_csv('team_codes.csv')

In [12]:
team.shape[0]

150

In [13]:
team.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
team_id      150 non-null object
league       124 non-null object
start        150 non-null int64
end          150 non-null int64
city         150 non-null object
nickname     150 non-null object
franch_id    150 non-null object
seq          150 non-null int64
dtypes: int64(3), object(5)
memory usage: 9.5+ KB

In [14]:
team.head()

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1

In [15]:
park = pd.read_csv('park_codes.csv')

In [16]:
park.shape[0]

252

In [17]:
park.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 9 columns):
park_id    252 non-null object
name       252 non-null object
aka        58 non-null object
city       252 non-null object
state      252 non-null object
start      252 non-null object
end        222 non-null object
league     186 non-null object
notes      128 non-null object
dtypes: object(9)
memory usage: 17.8+ KB

In [18]:
park.head()

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN

In [19]:
appearance = pd.read_csv('appearance_type.csv')

In [20]:
appearance.shape[0]

31

In [21]:
appearance.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
appearance_type_id    31 non-null object
name                  31 non-null object
category              31 non-null object
dtypes: object(3)
memory usage: 824.0+ bytes

In [61]:
appearance.head(10)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense
5                 O6  Batter 6  offense
6                 O7  Batter 7  offense
7                 O8  Batter 8  offense
8                 O9  Batter 9  offense
9                 D1   Pitcher  defense

Each CSV file is listed below with a brief description of its contents:


__game_log.csv__

> This is the main data file containing detailed information for every game.

__person_codes.csv__

> This file contains entries for each person involved in the games.  After initial analysis it seems that many of the game_log data fields can be linked to person_codes by using the id field.

__team_codes.csv__

> This file contains entries for each team. After initial analysis it looks like the h_name and v_name columns in game_log can be linked to team_codes using the team_id field.

__park_codes.csv__

> This file contains entries for each game venue.  After initial analysis it looks like the park_id column in game_log can be linked to park_codes using the park_id field.

__appearance_type.csv__

> This file contains information about the different positions played during a game.  While there doesn't seem to be a direct link between game_log and this table,  after analysis it seems that there may be link between the *_def_pos fields and defensive positions in the appearance_type file.  

> example: the def_pos field contains 9.0 which may correspond to the D9 defensive position of 'Right Field'

In [23]:
game_log['v_league'].unique()

array([nan, 'NL', 'AA', 'UA', 'PL', 'AL', 'FL'], dtype=object)

In [24]:
game_log['h_league'].unique()

array([nan, 'NL', 'AA', 'UA', 'PL', 'AL', 'FL'], dtype=object)

In [25]:
team['league'].unique()

array(['UA', 'NL', 'PL', nan, 'AA', 'AL', 'FL'], dtype=object)

In [26]:
game_log[game_log['h_league'] == 'FL']['h_name'].unique()

array(['BLF', 'PTF', 'KCF', 'SLF', 'CHF', 'IND', 'BRF', 'BUF', 'NEW'], dtype=object)

In [27]:
team[team['team_id'] == 'CHF']['nickname']

33    Whales
Name: nickname, dtype: object

By researching teams associated with the various League codes, the following list was made of names of the Leagues.  These Leagues have come and gone over the years and currently there is only one consolidated league containig all teams. The MLB.

UA = Union Association<br>
NL = National League<br>
AL = American League<br>
AA = American Association<br>
PL = Players' League<br>
FL = Federal League<br>

In [42]:
def run_query(q):
    with sl.connect('mlb.db') as conn:
        return pd.read_sql(q, conn)

In [81]:
def run_command(c):
    with sl.connect('mlb.db') as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)

In [36]:
def show_tables():
    q = '''SELECT name,type
           FROM sqlite_master
           WHERE type IN ("table","view");'''
    return run_query(q)

In [30]:
conn = sl.connect('mlb.db')

In [31]:
game_log.to_sql('game_log', conn, index=False)

In [32]:
park.to_sql('park_codes', conn, index=False)

In [33]:
person.to_sql('person_codes', conn, index=False)

In [34]:
team.to_sql('team_codes', conn, index=False)

In [35]:
appearance.to_sql('apperance_type', conn, index=False)

In [40]:
show_tables()

             name   type
0        game_log  table
1      park_codes  table
2    person_codes  table
3      team_codes  table
4  apperance_type  table

In [ ]:
q = '''

ALTER TABLE game_log
ADD COLUMN game_id TEXT
'''

run_query(q)

In [50]:
q = '''

PRAGMA table_info(game_log)

'''

run_query(q)

     cid                          name     type  notnull dflt_value  pk
0      0                          date  INTEGER        0       None   0
1      1                number_of_game  INTEGER        0       None   0
2      2                   day_of_week     TEXT        0       None   0
3      3                        v_name     TEXT        0       None   0
4      4                      v_league     TEXT        0       None   0
5      5                 v_game_number  INTEGER        0       None   0
6      6                        h_name     TEXT        0       None   0
7      7                      h_league     TEXT        0       None   0
8      8                 h_game_number  INTEGER        0       None   0
9      9                       v_score  INTEGER        0       None   0
10    10                       h_score  INTEGER        0       None   0
11    11                   length_outs     REAL        0       None   0
12    12                     day_night     TEXT        0       None   0
13    13                    completion     TEXT        0       None   0
14    14                      forefeit     TEXT        0       None   0
15    15                       protest     TEXT        0       None   0
16    16                       park_id     TEXT        0       None   0
17    17                    attendance     REAL        0       None   0
18    18                length_minutes     REAL        0       None   0
19    19                  v_line_score     TEXT        0       None   0
20    20                  h_line_score     TEXT        0       None   0
21    21                     v_at_bats     REAL        0       None   0
22    22                        v_hits     REAL        0       None   0
23    23                     v_doubles     REAL        0       None   0
24    24                     v_triples     REAL        0       None   0
25    25                    v_homeruns     REAL        0       None   0
26    26                         v_rbi     REAL        0       None   0
27    27              v_sacrifice_hits     REAL        0       None   0
28    28             v_sacrifice_flies     REAL        0       None   0
29    29                v_hit_by_pitch     REAL        0       None   0
30    30                       v_walks     REAL        0       None   0
31    31           v_intentional_walks     REAL        0       None   0
32    32                  v_strikeouts     REAL        0       None   0
33    33                v_stolen_bases     REAL        0       None   0
34    34             v_caught_stealing     REAL        0       None   0
35    35        v_grounded_into_double     REAL        0       None   0
36    36  v_first_catcher_interference     REAL        0       None   0
37    37                v_left_on_base     REAL        0       None   0
38    38               v_pitchers_used     REAL        0       None   0
39    39      v_individual_earned_runs     REAL        0       None   0
40    40            v_team_earned_runs     REAL        0       None   0
41    41                v_wild_pitches     REAL        0       None   0
42    42                       v_balks     REAL        0       None   0
43    43                     v_putouts     REAL        0       None   0
44    44                     v_assists     REAL        0       None   0
45    45                      v_errors     REAL        0       None   0
46    46                v_passed_balls     REAL        0       None   0
47    47                v_double_plays     REAL        0       None   0
48    48                v_triple_plays     REAL        0       None   0
49    49                     h_at_bats     REAL        0       None   0
50    50                        h_hits     REAL        0       None   0
51    51                     h_doubles     REAL        0       None   0
52    52                     h_triples     REAL        0       None   0
53    53                    h_homeruns     REAL        0       None   0
54    54                         h_rbi     REAL        0       None   0
55    55              h_sacrifice_hits     REAL        0       None   0
56    56             h_sacrifice_flies     REAL        0       None   0
57    57                h_hit_by_pitch     REAL        0       None   0
58    58                       h_walks     REAL        0       None   0
59    59           h_intentional_walks     REAL        0       None   0
60    60                  h_strikeouts     REAL        0       None   0
61    61                h_stolen_bases     REAL        0       None   0
62    62             h_caught_stealing     REAL        0       None   0
63    63        h_grounded_into_double     REAL        0       None   0
64    64  h_first_catcher_interference     REAL        0       None   0
65    65                h_left_on_base     REAL        0       None   0
66    66               h_pitchers_used     REAL        0       None   0
67    67      h_individual_earned_runs     REAL        0       None   0
68    68            h_team_earned_runs     REAL        0       None   0
69    69                h_wild_pitches     REAL        0       None   0
70    70                       h_balks     REAL        0       None   0
71    71                     h_putouts     REAL        0       None   0
72    72                     h_assists     REAL        0       None   0
73    73                      h_errors     REAL        0       None   0
74    74                h_passed_balls     REAL        0       None   0
75    75                h_double_plays     REAL        0       None   0
76    76                h_triple_plays     REAL        0       None   0
77    77                  hp_umpire_id     TEXT        0       None   0
78    78                hp_umpire_name     TEXT        0       None   0
79    79                  1b_umpire_id     TEXT        0       None   0
80    80                1b_umpire_name     TEXT        0       None   0
81    81                  2b_umpire_id     TEXT        0       None   0
82    82                2b_umpire_name     TEXT        0       None   0
83    83                  3b_umpire_id     TEXT        0       None   0
84    84                3b_umpire_name     TEXT        0       None   0
85    85                  lf_umpire_id     TEXT        0       None   0
86    86                lf_umpire_name     TEXT        0       None   0
87    87                  rf_umpire_id     TEXT        0       None   0
88    88                rf_umpire_name     TEXT        0       None   0
89    89                  v_manager_id     TEXT        0       None   0
90    90                v_manager_name     TEXT        0       None   0
91    91                  h_manager_id     TEXT        0       None   0
92    92                h_manager_name     TEXT        0       None   0
93    93            winning_pitcher_id     TEXT        0       None   0
94    94          winning_pitcher_name     TEXT        0       None   0
95    95             losing_pitcher_id     TEXT        0       None   0
96    96           losing_pitcher_name     TEXT        0       None   0
97    97             saving_pitcher_id     TEXT        0       None   0
98    98           saving_pitcher_name     TEXT        0       None   0
99    99         winning_rbi_batter_id     TEXT        0       None   0
100  100    winning_rbi_batter_id_name     TEXT        0       None   0
101  101         v_starting_pitcher_id     TEXT        0       None   0
102  102       v_starting_pitcher_name     TEXT        0       None   0
103  103         h_starting_pitcher_id     TEXT        0       None   0
104  104       h_starting_pitcher_name     TEXT        0       None   0
105  105                 v_player_1_id     TEXT        0       None   0
106  106               v_player_1_name     TEXT        0       None   0
107  107            v_player_1_def_pos     REAL        0       None   0
108  108                 v_player_2_id     TEXT        0       None   0
109  109               v_player_2_name     TEXT        0       None   0
110  110            v_player_2_def_pos     REAL        0       None   0
111  111                 v_player_3_id     TEXT        0       None   0
112  112               v_player_3_name     TEXT        0       None   0
113  113            v_player_3_def_pos     REAL        0       None   0
114  114                 v_player_4_id     TEXT        0       None   0
115  115               v_player_4_name     TEXT        0       None   0
116  116            v_player_4_def_pos     REAL        0       None   0
117  117                 v_player_5_id     TEXT        0       None   0
118  118               v_player_5_name     TEXT        0       None   0
119  119            v_player_5_def_pos     REAL        0       None   0
120  120                 v_player_6_id     TEXT        0       None   0
121  121               v_player_6_name     TEXT        0       None   0
122  122            v_player_6_def_pos     REAL        0       None   0
123  123                 v_player_7_id     TEXT        0       None   0
124  124               v_player_7_name     TEXT        0       None   0
125  125            v_player_7_def_pos     REAL        0       None   0
126  126                 v_player_8_id     TEXT        0       None   0
127  127               v_player_8_name     TEXT        0       None   0
128  128            v_player_8_def_pos     REAL        0       None   0
129  129                 v_player_9_id     TEXT        0       None   0
130  130               v_player_9_name     TEXT        0       None   0
131  131            v_player_9_def_pos     REAL        0       None   0
132  132                 h_player_1_id     TEXT        0       None   0
133  133               h_player_1_name     TEXT        0       None   0
134  134            h_player_1_def_pos     REAL        0       None   0
135  135                 h_player_2_id     TEXT        0       None   0
136  136               h_player_2_name     TEXT        0       None   0
137  137            h_player_2_def_pos     REAL        0       None   0
138  138                 h_player_3_id     TEXT        0       None   0
139  139               h_player_3_name     TEXT        0       None   0
140  140            h_player_3_def_pos     REAL        0       None   0
141  141                 h_player_4_id     TEXT        0       None   0
142  142               h_player_4_name     TEXT        0       None   0
143  143            h_player_4_def_pos     REAL        0       None   0
144  144                 h_player_5_id     TEXT        0       None   0
145  145               h_player_5_name     TEXT        0       None   0
146  146            h_player_5_def_pos     REAL        0       None   0
147  147                 h_player_6_id     TEXT        0       None   0
148  148               h_player_6_name     TEXT        0       None   0
149  149            h_player_6_def_pos     REAL        0       None   0
150  150                 h_player_7_id     TEXT        0       None   0
151  151               h_player_7_name     TEXT        0       None   0
152  152            h_player_7_def_pos     REAL        0       None   0
153  153                 h_player_8_id     TEXT        0       None   0
154  154               h_player_8_name     TEXT        0       None   0
155  155            h_player_8_def_pos     REAL        0       None   0
156  156                 h_player_9_id     TEXT        0       None   0
157  157               h_player_9_name     TEXT        0       None   0
158  158            h_player_9_def_pos     REAL        0       None   0
159  159               additional_info     TEXT        0       None   0
160  160              acquisition_info     TEXT        0       None   0
161  161                       game_id     TEXT        0       None   0

In [54]:
q = '''

SELECT
    h_name || date || h_game_number
FROM game_log
LIMIT 5

'''
run_query(q)

  h_name || date || h_game_number
0                    FW1187105041
1                    WS3187105051
2                    RC1187105061
3                    CH1187105081
4                    TRO187105091

In [59]:
q = '''

UPDATE game_log
SET game_id = h_name || date || h_game_number

'''

run_command(q)

In [60]:
q = '''

SELECT
    game_id
FROM game_log
LIMIT 5

'''
run_query(q)

        game_id
0  FW1187105041
1  WS3187105051
2  RC1187105061
3  CH1187105081
4  TRO187105091

In [63]:
q = '''

CREATE TABLE IF NOT EXISTS "person" (
  "person_id" TEXT PRIMARY KEY,
  "last" TEXT,
  "first" TEXT
);

'''

run_command(q)

In [65]:
q = '''

INSERT OR IGNORE INTO person
SELECT
    id person_id,
    last,
    first
FROM person_codes


'''

run_command(q)

In [66]:
q = '''

SELECT * FROM person LIMIT 10

'''

run_query(q)

  person_id         last     first
0  aardd001      Aardsma     David
1  aaroh101        Aaron      Hank
2  aarot101        Aaron    Tommie
3  aased001         Aase       Don
4  abada001         Abad      Andy
5  abadf001         Abad  Fernando
6  abadj101       Abadie      John
7  abbae101  Abbaticchio        Ed
8  abbeb101        Abbey      Bert
9  abbec101        Abbey   Charlie

In [67]:
q = '''

CREATE TABLE IF NOT EXISTS "park" (
  "park_id" TEXT PRIMARY KEY,
  "name" TEXT,
  "nickname" TEXT,
  "city" TEXT,
  "state" TEXT,
  "notes" TEXT
);

'''

run_command(q)

In [68]:
q = '''

INSERT OR IGNORE INTO park
SELECT
    park_id,
    name,
    aka nickname,
    city,
    state,
    notes
FROM park_codes

'''

run_command(q)

In [70]:
q = '''

SELECT * from park LIMIT 10

'''

run_query(q)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None
5,ATL01,Atlanta-Fulton County Stadium,None,Atlanta,GA,None
6,ATL02,Turner Field,None,Atlanta,GA,None
7,ATL03,Suntrust Park,None,Atlanta,GA,None
8,BAL01,Madison Avenue Grounds,None,Baltimore,MD,WS3
9,BAL02,Newington Park,None,Baltimore,MD,BL1:1872-74; BL4:1873; BL2: 1882

In [73]:
q = '''

CREATE TABLE IF NOT EXISTS "league" (
  "league_id" TEXT PRIMARY KEY,
  "name" TEXT
);

'''

run_command(q)

In [74]:
q = '''

INSERT OR IGNORE INTO league
('league_id', 'name')
VALUES
('UA', 'Union Association'),
('NL', 'National League'),
('AL', 'American League'),
('AA', 'American Association'),
('PL', 'Players'' League'),
('FL', 'Federal League')

'''

run_command(q)

In [75]:
q = '''

SELECT * FROM league

'''

run_query(q)

  league_id                  name
0        UA     Union Association
1        NL       National League
2        AL       American League
3        AA  American Association
4        PL       Players' League
5        FL        Federal League

In [78]:
q = '''

CREATE TABLE IF NOT EXISTS "appearance_type" (
  "appearance_type_id" TEXT PRIMARY KEY,
  "name" TEXT,
  "category" TEXT
);

'''

run_command(q)

In [79]:
q = '''

INSERT OR IGNORE INTO "appearance_type"
SELECT * FROM apperance_type

'''

run_command(q)

In [80]:
q = '''

SELECT * FROM appearance_type LIMIT 10

'''

run_query(q)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense
5                 O6  Batter 6  offense
6                 O7  Batter 7  offense
7                 O8  Batter 8  offense
8                 O9  Batter 9  offense
9                 D1   Pitcher  defense

In [82]:
q = '''

CREATE TABLE IF NOT EXISTS "team" (
  "team_id" TEXT PRIMARY KEY,
  "league_id" TEXT,
  "city" TEXT,
  "nickname" TEXT,
  "franch_id" TEXT,
  FOREIGN KEY(league_id) REFERENCES league(league_id)
);

'''

run_command(q)

In [83]:
q = '''

INSERT OR IGNORE INTO team
SELECT
    team_id,
    league league_id,
    city,
    nickname,
    franch_id
FROM team_codes

'''

run_command(q)

In [84]:
q = '''

SELECT * FROM team LIMIT 10

'''

run_query(q)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1
5     BL2        AA  Baltimore          Orioles       BL2
6     BLN        NL  Baltimore          Orioles       BL2
7     BL4      None  Baltimore        Marylands       BL4
8     BLA        AL  Baltimore          Orioles       BLA
9     NYA        AL   New York          Yankees       BLA

In [85]:
q = '''

CREATE TABLE IF NOT EXISTS "game" (
  "game_id" TEXT PRIMARY KEY,
  "date" INTEGER,
  "number_of_game" INTEGER,
  "park_id" TEXT,
  "length_outs" REAL,
  "day" INTEGER,
  "completion" TEXT,
  "forefeit" TEXT,
  "protest" TEXT,
  "attendance" REAL,
  "length_minutes" REAL,
  "additional_info" TEXT,
  "acquisition_info" TEXT,
  FOREIGN KEY (park_id) REFERENCES park(park_id)
);


'''

run_command(q)

In [90]:
q = '''

INSERT OR IGNORE INTO "game"
SELECT
    game_id,
    date,
    number_of_game,
    park_id,
    length_outs,
    CASE
        WHEN day_night == 'D'
        THEN 1
        WHEN day_night == 'N'
        THEN 0
        ELSE NULL
    END day,
    completion,
    forefeit,
    protest,
    attendance,
    length_minutes,
    additional_info,
    acquisition_info
FROM game_log


'''

run_command(q)

In [91]:
q = '''

SELECT * FROM game LIMIT 10

'''

run_query(q)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forefeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105041,18710504,0,FOR01,54.0,1,None,None,None,200.0,120.0,None,Y
1,WS3187105051,18710505,0,WAS01,54.0,1,None,None,None,5000.0,145.0,HTBF,Y
2,RC1187105061,18710506,0,RCK01,54.0,1,None,None,None,1000.0,140.0,None,Y
3,CH1187105081,18710508,0,CHI01,54.0,1,None,None,None,5000.0,150.0,None,Y
4,TRO187105091,18710509,0,TRO01,54.0,1,None,None,None,3250.0,145.0,HTBF,Y
5,CL1187105114,18710511,0,CLE01,48.0,1,None,V,None,2500.0,120.0,None,Y
6,CL1187105135,18710513,0,CIN01,54.0,1,None,None,None,1200.0,150.0,None,Y
7,FW1187105132,18710513,0,FOR01,54.0,1,None,None,None,1500.0,105.0,None,Y
8,FW1187105153,18710515,0,FOR01,54.0,1,None,None,None,NaN,140.0,None,Y
9,BS1187105163,18710516,0,BOS01,54.0,1,None,None,None,2500.0,NaN,HTBF,Y

In [92]:
q = '''

CREATE TABLE IF NOT EXISTS "team_appearance" (
  "team_id" TEXT,
  "game_id" TEXT,
  "home" INTEGER,
  "league_id" TEXT,
  "score" INTEGER,
  "line_score" TEXT,
  "at_bats" REAL,
  "hits" REAL,
  "doubles" REAL,
  "triples" REAL,
  "homeruns" REAL,
  "rbi" REAL,
  "sacrifice_hits" REAL,
  "sacrifice_flies" REAL,
  "hit_by_pitch" REAL,
  "walks" REAL,
  "intentional_walks" REAL,
  "strikeouts" REAL,
  "stolen_bases" REAL,
  "caught_stealing" REAL,
  "grounded_into_double" REAL,
  "first_catcher_interference" REAL,
  "left_on_base" REAL,
  "pitchers_used" REAL,
  "individual_earned_runs" REAL,
  "team_earned_runs" REAL,
  "wild_pitches" REAL,
  "balks" REAL,
  "putouts" REAL,
  "assists" REAL,
  "errors" REAL,
  "passed_balls" REAL,
  "double_plays" REAL,
  "triple_plays" REAL,
  PRIMARY KEY (team_id, game_id),
  FOREIGN KEY (league_id) REFERENCES league(league_id),
  FOREIGN KEY (team_id) REFERENCES team(team_id),
  FOREIGN KEY (game_id) REFERENCES game(game_id));

'''

run_command(q)

In [95]:
q = '''

INSERT OR IGNORE INTO team_appearance

SELECT 
    h_name,
    game_id,
    1 home,
    h_league,
    h_score,
    h_line_score,
    h_at_bats,
    h_hits,
    h_doubles,
    h_triples,
    h_homeruns,
    h_rbi,
    h_sacrifice_hits,
    h_sacrifice_flies,
    h_hit_by_pitch,
    h_walks,
    h_intentional_walks,
    h_strikeouts,
    h_stolen_bases,
    h_caught_stealing,
    h_grounded_into_double,
    h_first_catcher_interference,
    h_left_on_base,
    h_pitchers_used,
    h_individual_earned_runs,
    h_team_earned_runs,
    h_wild_pitches,
    h_balks,
    h_putouts,
    h_assists,
    h_errors,
    h_passed_balls,
    h_double_plays,
    h_triple_plays
FROM game_log

UNION

SELECT
    v_name,
    game_id,
    0 home,
    v_league,
    v_score,
    v_line_score,
    v_at_bats,
    v_hits,
    v_doubles,
    v_triples,
    v_homeruns,
    v_rbi,
    v_sacrifice_hits,
    v_sacrifice_flies,
    v_hit_by_pitch,
    v_walks,
    v_intentional_walks,
    v_strikeouts,
    v_stolen_bases,
    v_caught_stealing,
    v_grounded_into_double,
    v_first_catcher_interference,
    v_left_on_base,
    v_pitchers_used,
    v_individual_earned_runs,
    v_team_earned_runs,
    v_wild_pitches,
    v_balks,
    v_putouts,
    v_assists,
    v_errors,
    v_passed_balls,
    v_double_plays,
    v_triple_plays
FROM game_log

'''

run_command(q)

In [98]:
q = '''

SELECT * FROM team_appearance LIMIT 10

'''

run_query(q)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,ALT188404308,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,ALT188405029,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,ALT,ALT1884050310,1,UA,5,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,ALT,ALT1884050511,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,ALT,ALT1884051012,1,UA,9,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,ALT,ALT1884051213,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,ALT,ALT1884051414,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,ALT,ALT1884051515,1,UA,7,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,ALT,ALT1884051616,1,UA,6,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,ALT,ALT1884051717,1,UA,8,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [99]:
q = '''

CREATE TABLE IF NOT EXISTS "person_appearance" (
  "appearance_id" INTEGER PRIMARY KEY,
  "person_id" TEXT,
  "team_id" TEXT,
  "game_id" TEXT,
  "appearance_type_id" TEXT,
  FOREIGN KEY (person_id) REFERENCES person(person_id),
  FOREIGN KEY (team_id) REFERENCES team(team_id),
  FOREIGN KEY (game_id) REFERENCES game(game_id),
  FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
);

'''

run_command(q)

In [101]:
position_fields = {'hp_umpire_id': 'UHP',
                   '1b_umpire_id': 'U1B',
                   '2b_umpire_id': 'U2B',
                   '3b_umpire_id': 'U3B',
                   'lf_umpire_id': 'ULF',
                   'rf_umpire_id': 'URF',
                   'v_manager_id': 'MM',
                   'h_manager_id': 'MM',
                   'winning_pitcher_id': 'AWP',
                   'losing_pitcher_id': 'ALP',
                   'saving_pitcher_id': 'ASP',
                   'winning_rbi_batter_id': 'AWB',
                   'v_starting_pitcher_id': 'PSP',
                   'h_starting_pitcher_id': 'PSP'
                  }

In [100]:
q = '''

SELECT * FROM appearance_type

'''

run_query(q)

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

In [102]:
game_log['v_player_1_def_pos'].unique()

array([  2.,   6.,   3.,   9.,   5.,   1.,   8.,   7.,   4.,  nan,  10.])

In [103]:
q = '''

INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
)

    SELECT
        game_id,
        NULL,
        hp_umpire_id,
        "UHP"
    FROM game_log
    WHERE hp_umpire_id IS NOT NULL

    
UNION

    SELECT
        game_id,
        NULL,
        [1b_umpire_id],
        "U1B"
    FROM game_log
    WHERE [1b_umpire_id] IS NOT NULL
    
    
UNION

    SELECT
        game_id,
        NULL,
        [2b_umpire_id],
        "U2B"
    FROM game_log
    WHERE [2b_umpire_id] IS NOT NULL   
    

UNION

    SELECT
        game_id,
        NULL,
        [3b_umpire_id],
        "U3B"
    FROM game_log
    WHERE [3b_umpire_id] IS NOT NULL
    
    

UNION

    SELECT
        game_id,
        NULL,
        lf_umpire_id,
        "ULF"
    FROM game_log
    WHERE lf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        rf_umpire_id,
        "URF"
    FROM game_log
    WHERE rf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        v_name,
        v_manager_id,
        "MM"
    FROM game_log
    WHERE v_manager_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        h_name,
        h_manager_id,
        "MM"
    FROM game_log
    WHERE h_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        "AWP"
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        CASE
            WHEN h_score < v_score THEN h_name
            ELSE v_name
            END,
        losing_pitcher_id,
        "ALP"
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL
    
    
UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        "ASP"
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL
    

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        "AWB"
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL 
    

UNION

    SELECT
        game_id,
        v_name,
        v_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL


UNION

    SELECT
        game_id,
        h_name,
        h_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL

'''

run_command(q)

In [104]:
q = '''

SELECT * FROM person_appearance LIMIT 20

'''

run_query(q)

    appearance_id person_id team_id        game_id appearance_type_id
0               1  maplb901    None   ALT188404308                UHP
1               2  curte801     ALT   ALT188404308                 MM
2               3  murpj104     ALT   ALT188404308                PSP
3               4  hodnc101     SLU   ALT188404308                PSP
4               5  sullt101     SLU   ALT188404308                 MM
5               6  hoopm101    None   ALT188405029                UHP
6               7  curte801     ALT   ALT188405029                 MM
7               8  learj102     ALT   ALT188405029                PSP
8               9  sullt101     SLU   ALT188405029                 MM
9              10  taylb103     SLU   ALT188405029                PSP
10             11  hoopm101    None  ALT1884050310                UHP
11             12  connj102     ALT  ALT1884050310                PSP
12             13  curte801     ALT  ALT1884050310                 MM
13             14  hodnc101     SLU  ALT1884050310                PSP
14             15  sullt101     SLU  ALT1884050310                 MM
15             16  hoopm101    None  ALT1884050511                UHP
16             17  browj106     ALT  ALT1884050511                PSP
17             18  curte801     ALT  ALT1884050511                 MM
18             19  sullt101     SLU  ALT1884050511                 MM
19             20  taylb103     SLU  ALT1884050511                PSP

In [110]:
template = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        
        run_command(template.format(**query_vars))

In [111]:
q = '''

SELECT COUNT(*) FROM person_appearance

''' 

run_query(q)

   COUNT(*)
0   6716280

In [112]:
q = '''

DROP TABLE game_log

'''

run_command(q)

In [113]:
q = '''

DROP TABLE park_codes

'''

run_command(q)

In [114]:
q = '''

DROP TABLE team_codes

'''

run_command(q)

In [115]:
q = '''

DROP TABLE person_codes

'''

run_command(q)

In [116]:
q = '''

DROP TABLE apperance_type

'''

run_command(q)